body.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--grey);
    overflow-x: hidden;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 20px;
    background-color: var(--light);
    border: 1px solid var(--grey);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: var(--dark);
    transition: all .3s ease-in-out;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

body.dark .popup {
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.5);
}

.popup button {
    color: var(--light);
    width: 45%;
    margin: 15px 5px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    background: var(--primary);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup button:last-child {
    background: var(--danger);
}

.popup table {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}

.popup table td {
    padding: 5px 10px 5px 5px;
    font-size: 18px;
    text-align: left;
    border: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 60px;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span {
    color: var(--dark);
}
.listCard li .name {
    font-weight: bold;
    color: var(--dark);
}
.maxsulotlar li .name{
    font-weight: bold;
}
.sidebar .logo i {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a {
    color: var(--success);
}

.sidebar.close .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a i {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout {
    color: var(--danger);
}

.content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}
.sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}
.sidebar .side-menu li.active a {
    color: var(--success);
}
main.etirozlar ul li.active .names_status small i {
    transform: rotateX(180deg);
    transition: all 0.3s ease;
}
main.etirozlar ul li {
    margin-top: 20px;
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
    cursor: pointer;
    color: var(--dark);
}

main.etirozlar ul li.active .sms {
    margin-top: 20px;
    padding: 20px;
    overflow: visible;
    height: auto;
    transition: all 0.3s ease;
}
main.etirozlar ul li .sms {
    background: var(--grey);
    margin-top: 0;
    padding: 0 20px;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

main.etirozlar ul li.active .sms {
    margin-top: 20px;
    padding: 20px;
    overflow: visible;
    height: auto;
    transition: all 0.3s ease;
}
ul.loyihalar li .sms{
    background: var(--grey);
    margin-top: 0;
    padding: 0 20px;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: auto;
}

ul.loyihalar li.active .sms{
    margin-top: 20px;
    padding: 20px;
    overflow: visible;
    height: auto;
    transition: all 0.3s ease;
}
ul.loyihalar li .sms div{
    color: var(--dark);
    font-size: 18px;
}
ul.loyihalar li .sms div p{
    display: inline;
    /* font-weight: bold; */
}
ul.loyihalar li .sms div a{
    color: var(--primary);
    text-decoration: underline;
}
ul.loyihalar li .sms .start{
    border: none;
    outline: none;
    padding: 10px 15px;
    margin-top: 20px;
    background: var(--primary);
    color: var(--light);
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    /* float: right; */
}
.add_box_container.active,
.person_box_container.active,
.shop_card_box.active {
    display: flex;
    
}
.add_box_container,
.person_box_container,
.shop_card_box {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
    display: none;
    align-items: center;
    justify-content: center;
}
body.dark .add_box_container,
body.dark .person_box_container {
    background: rgba(225, 225, 225, 0.5);
}

.add_box.active,
.person_box.active {
    display: block;
}
.add_box,
.person_box,
.shop_box {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    max-height: 550px;
    padding: 20px;
    background: var(--light);
    border-radius: 20px;
    color: var(--dark);
    display: none;
    overflow: hidden;
}
.add_box .title,
.person_box .title {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
}
.person_box .title p {
    position: absolute;
    right: 0;
}
.add_box .title i,
.person_box .title i {
    margin-right: 10px;
}
.add_box .info,
.person_box ul {
    width: 100%;
    position: relative;
    height: 100%;
    max-height: 450px;
    overflow-y: scroll;
    padding: 0 0 20px 0;
    color: var(--dark);
}

.add_box .info .box-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.add_box .info::-webkit-scrollbar,
.person_box ul::-webkit-scrollbar {
    width: 0;
}

.person_box ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.person_box ul li a {
    color: var(--dark);
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}
ul.loyihalar li.active .names_status small i{
    transform: rotateX(180deg);
    transition: all 0.3s ease;
}
ul.loyihalar li.active .sms{
    margin-top: 20px;
    padding: 20px;
    overflow: visible;
    height: auto;
    transition: all 0.3s ease;
}
.box_prays li.active{
    color: var(--primary);
}
.filter li.active{
    border-bottom: 3px solid var(--primary);
}
content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
}

.content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
    color: var(--dark);
}

.content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

.content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav .notif {
    font-size: 20px;
    position: relative;
}

.content nav .notif .count {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img {
    width: 36px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle {
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before {
    left: calc(100% - (25px - 4px) - 2px);
}

.content main {
    width: 100%;
    padding: 0 24px;
    max-height: calc(100vh - 56px);
}

.content main.hide {
    display: none;
}

.content main .insights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 30px;
}

.content main .insights li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx {
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx {
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx {
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li.chiqmagan .bx {
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p {
    color: var(--dark);
}

.content main .bottom-data {
    display: block;
    /* flex-wrap: wrap;
    grid-gap: 24px; */
    margin-top: 24px;
    width: 100%;
    height: auto;
    color: var(--dark);
}

.content main .bottom-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx {
    cursor: pointer;
}

.content main .bottom-data .orders {
    flex-grow: 1;
    flex-basis: 500px;
    height: auto;
}

.content main .bottom-data .orders table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content main .bottom-data .orders table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td {
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child {
    padding-left: 6px;
}

.content main .bottom-data .orders table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed {
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process {
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending {
    background: var(--warning);
}

.content main .bottom-data .reminders {
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list {
    width: 100%;
}

.content main .bottom-data .reminders .task-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title {
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p {
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx {
    cursor: pointer;
}

.content main .bottom-data .reminders .task-list li.completed {
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed {
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child {
    margin-bottom: 0;
}
.content nav .theme-toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before {
    left: calc(100% - (25px - 4px) - 2px);
}
.content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.content main .insights li .info h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p {
    color: var(--dark);
}
.add_box .info,
.person_box ul {
    width: 100%;
    position: relative;
    height: 100%;
    max-height: 450px;
    overflow-y: scroll;
    padding: 0 0 20px 0;
    color: var(--dark);
}

.add_box .info .box-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.add_box .info::-webkit-scrollbar,
.person_box ul::-webkit-scrollbar {
    width: 0;
}

.person_box ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.person_box ul li a {
    color: var(--dark);
}

.add_box .info label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
    font-size: 18px;
}

.add_box .info input, 
.add_box .info textarea {
    width: 100%;
    outline: none;
    border: none;
    background: var(--grey);
    padding: 8px 12px;
    border-radius: .375rem;
    font-size: 16px;
    letter-spacing: 1.5px;
    border: 1px solid var(--dark);
}

.add_box .info textarea{
    resize: vertical;
}

.add_box .info select {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    background: var(--primary);
    color: var(--light);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

.add_box .info .radio{
    display: flex;
    color: var(--dark);
    font-size: 14px;
}

.add_box .info button.save {
    width: 50%;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    outline: none;
    background: var(--primary);
    color: var(--light);
    border-radius: .375rem;
    border: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

.add_product .form_box{
    display: grid;
    grid-template-columns: calc(40% - 5px) calc(60% - 5px);
    gap: 10px;
}

.add_product .form_box .file{
    width: 100%;
    height: 100%;
}

.add_product .form_box .file label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--primary);
    color: var(--primary);
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.add_product .form_box .file label span{
    display: block;
}

.add_product .form_box .file label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.add_product .form_box .file label:hover{
    border: 2px solid var(--primary);
}

.add_product .form_box .right label{
    margin: 0;
}

.add_product .form_box .right input{
    margin-bottom: 10px;
}

.add-button {
    border: none;
    padding: 10px 15px;
    background: var(--primary);
    color: var(--light);
    border-radius: 10px;
    overflow-x: auto;
    cursor: pointer;
}

.add-button.small {
    display: none;
    border-radius: 50%;
    font-size: 28px;
    padding: 4px 16px;
}

main.ishchi .add-button,
main.maxsulot .add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999;
    opacity: 0.5;
    transition: .5s;
}

main.ishchi .add-button:hover,
main.maxsulot .add-button:hover {
    opacity: 1;
}

.add-button.add-btn {
    right: 225px;
}

.add-button.minus-btn {
    background: var(--danger);
}
table tbody tr.hide{
    display: none;
}
.content main.hide {
    display: none;
}
.count .count_num.hide {
    display: none;
}
main.ishchi .add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
main.etirozlar ul li .names_status small {
    display: flex;
    align-items: center;
    font-size: 16px;
}

main.etirozlar ul li .names_status small p.data {
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
}

main.etirozlar ul li .names_status small i {
    margin-left: 5px;
    transition: all 0.3s ease;
}

main.etirozlar ul li .names_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main.etirozlar ul li.active .names_status small i {
    transform: rotateX(180deg);
    transition: all 0.3s ease;
}
.add-button.small {
    display: none;
    border-radius: 50%;
    font-size: 28px;
    padding: 4px 16px;
}
ul.loyihalar li .names_status small{
    display: flex;
    align-items: center;
    font-size: 16px;
}

ul.loyihalar li .names_status small i{
    margin-left: 5px;
    transition: all 0.3s ease;
}

ul.loyihalar li.active .names_status small i{
    transform: rotateX(180deg);
    transition: all 0.3s ease;
}
table tbody tr.hide{
    display: none;
}
.filter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
}
.filter li{
    cursor: pointer;
}
.bx {
    font-size: 1.7rem;
}
.bx-edit-alt,
.bxs-trash,
.bx-play {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.bx-edit-alt,
.bx-play {
    color: var(--primary);
    background: var(--light-primary);
}
.box_prays{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box_prays li{
    padding: 10px 15px;
    font-size: 22px;
    font-weight: bold;
    color: var(--dark);
    transition: all .3s ease;
}
.box_prays li.active{
    color: var(--primary);
}

.box_prays li p{
    cursor: pointer;
}
.table_box{
    width: 100%;
}

.table_box .table{
    display: none;
}

.table_box .table.show{
    display: block;
}
.bx-edit-alt,
.bxs-trash,
.bx-play {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.bxs-trash {
    color: var(--danger);
    background: var(--light-danger);
}
.bx-edit-alt,
.bx-play {
    color: var(--primary);
    background: var(--light-primary);
}

.maxsulot .product_lists {
    width: 100%;
    display: grid;
    margin-top: 20px;
    margin-bottom: 100px;
}

.maxsulot[data-name="maxsulot"] .product_lists{
    margin: 0;
}

.product_lists .product_boxes .box_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_lists .product_boxes .box_title h2 {
    color: var(--color-gray);
}

.product_lists .product_boxes .box_title span {
    color: var(--color-primary);
    cursor: pointer;
}

.product_lists .product_boxes .box_title span:hover {
    text-decoration: underline;
}

.product_lists .product_boxes ul {
    width: 100%;
    /* background: var(--color-white); */
    padding-top: var(--card-padding);
    padding-bottom: var(--card-padding);
    border-radius: var(--card-border-radius);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
}

.product_lists .product_boxes ul .product {
    width: 180px;
    height: 250px;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px var(--color-dark);
    transition: scale .25s ease-in, opacity .25s ease-in, filter .25s ease-in;

}

.product_lists .product_boxes ul li:hover {
    scale: 1.2;
}

.product_lists .product_boxes ul:has(.product:hover) .product:not(:hover) {
    scale: .8;
    opacity: .8;
    filter: blur(4px);
}

.product_lists .product_boxes ul li img {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    transform: scale(1.2);
    transition: .25s ease-in;
}

.product_lists .product_boxes ul li:hover img {
    transform: scale(1);
}

.product_lists .product_boxes ul li .title {
    width: 100%;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: .25s ease-in;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    background: var(--color-white);
    padding: 5px;
}

.product_lists .product_boxes ul li:hover .title {
    bottom: 0;
}

.product_lists .product_boxes ul li .title .info .name {
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product_lists .product_boxes ul li .title .info .price {
    font-size: 12px;
    text-align: end;
}

.product_lists .product_boxes ul li .title .info .price span {
    color: var(--color-danger);
    font-weight: bold;
}

.product_lists .product_boxes ul li .title .add_btn {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
    background: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}