@media screen and (max-width: 1200px) {
    .container{
        width: 96%;
    }
    main .container{
        grid-template-columns: 5rem calc(100% - 5rem);
        gap: 1rem;
    }
    .left{
        width: 5rem;
        z-index: 5;
    }
    main .container .left .profile,
    .sidebar h3,
    .left .btn{
        display: none;
    }

    .customize-theme .card,
    .contact-menu .card,
    .notification-menu .card{
        width: 80vw;
    }

    .middle{
        min-height: 100vh;
    }
}

@media screen and (max-width: 992px){
    nav .search-bar{
        display: none;
    }
    main .container{
        grid-template-columns: 100%;
    }
    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    
    .left .notf-popup{
        position: absolute;
        left: -20rem;
        width: 20rem;
    }
    
    .left .notf-popup::before{
        position: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }

    .customize-theme .card,
    .contact-menu .card,
    .notification-menu .card{
        width: 92vw;
    }
    
    .contact-container {
        padding: 20px;
    }
    .wrapper{
        grid-template-columns: 1fr;
    }

    .middle{
        min-height: 100vh;
    }
}

@media screen and (max-width:500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option .gender) {
        row-gap: 15px;
    }
}