*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* table tr{
    
} */
table th,
table td{
    padding: 10px;
    border: 2px solid #000;
}

tbody td{
    background: green;
    color: #fff;
}