/* GENERAL STYLES */

.container {
    width: 90%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    height: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* overflow: hidden; */
}

.profile-photo img {
    border-radius: 50%;
}

img {
    /* border-radius: 50%; */
    width: 100%;
    display: block;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all .3s ease;
    font-size: .9rem;
}

.bnt:hover {
    opacity: .8;
}

.btn-primary {
    background: var(--color-primary);
    color: #fff;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}


/* ===================NAVBAR================= */

nav {
    width: 100%;
    background: var(--color-white);
    padding: .7rem 0;
    position: fixed;
    top: 0;
    z-index: 9999999;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark);
}

.search-bar input::placeholder {
    color: var(--color-gray);
}

nav .create {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 150px;
}

nav .create i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
    cursor: pointer;
}

nav .create i:nth-child(2) {
    margin-right: 10px;
}

nav .create i .notf-count {
    background: var(--color-danger);
    color: #fff;
    font-size: .7rem;
    width: fit-content;
    border-radius: .8rem;
    padding: .1rem .4rem;
    position: absolute;
    bottom: -0.2rem;
    right: -0.8rem;
    cursor: pointer;
}

/* =============================== MAIN =========================== */

main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vw auto;
    column-gap: 2rem;
    position: relative;
}

/* =============================== LEFT =========================== */

main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
    z-index: 9999999;
}

main .container .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    /* width: 100%; */
}

/* =============================== SIDEBAR =========================== */

.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar ul li {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}

.left .sidebar ul li:hover {
    background: var(--color-light);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notf-count {
    background: var(--color-danger);
    color: #fff;
    font-size: .7rem;
    width: fit-content;
    border-radius: .8rem;
    padding: .1rem .4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
    color: var(--color-dark);
}

.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active::before {
    content: '';
    display: block;
    width: .5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar li:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar li:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/* --------------------------- NOTIFICATION POPUP --------------------------- */

.left .notf-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
    z-index: 8;
    display: none;
}

.left .notf-popup::before {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notf-popup>li a {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notf-popup small {
    display: block;
}

/* --------------------------- MIDDLE --------------------------- */

.middle {
    width: 95%;
    min-height: auto;
    position: relative;
    display: none;
}

.middle.active{
    display: block;
}

.middle .wrap_carousel {
    width: 100%;
    height: 490px;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    position: relative;
}

.wrap_carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.wrap_carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap_carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 40%;
    left: 30%;
    border-radius: var(--card-border-radius);
    padding: 10px;
    transform: translateX(-50%);
    /* backdrop-filter: blur(10px); */
}

.wrap_carousel .list .item .content .title {
    font-weight: bold;
    font-size: 30px;
    list-style: 1.3em;
    color: var(--color-primary);
    margin-bottom: 20px;
}

.wrap_carousel .list .item .content button {
    margin-top: 20px;
    border: none;
    outline: none;
    letter-spacing: 3px;
    font-weight: 500;
    padding: var(--btn-padding);
    background: var(--color-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--color-white);
}

.wrap_carousel .list .item:first-child {
    z-index: 1;
}

.wrap_carousel .list .item:first-child .title,
.wrap_carousel .list .item:first-child .des,
.wrap_carousel .list .item:first-child .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

.wrap_carousel .list .item:first-child .title {
    animation-delay: 1.2s;
}

.wrap_carousel .list .item:first-child .des {
    animation-delay: 1.4s;
}

.wrap_carousel .list .item:first-child .buttons {
    animation-delay: 1.6s;
}

.wrap_carousel.next .list .item:first-child img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 60%;
    bottom: 50px;
    border-radius: var(--card-border-radius);
    animation: showImage .5s linear 1 forwards;
}

.wrap_carousel.prev .list .item:nth-child(2) {
    z-index: 100;
}

.wrap_carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage .5s linear 1 forwards;
}

.wrap_carousel.prev .list .item:nth-child(2) .content {
    animation-delay: 0;
    animation: outContent .5s 1s linear 1 forwards;
}

.wrap_carousel .thumbnail {
    position: absolute;
    bottom: 50px;
    left: 60%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.wrap_carousel.next .thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

.wrap_carousel .thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0 0 10px 0 #000;
    cursor: pointer;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.wrap_carousel .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.wrap_carousel.next .thumbnail .item:last-child {
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.wrap_carousel.prev .thumbnail .item:first-child {
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.wrap_carousel .arrows {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 300px;
    max-width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 100;
}

.wrap_carousel .arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border: none;
    outline: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .3s;
}

.wrap_carousel .arrows button:hover {
    background: var(--color-primary);
}

.middle .product_lists {
    width: 100%;
    display: grid;
    margin-top: 20px;
    margin-bottom: 100px;
}

.middle[data-box="catalog"] .product_lists{
    margin: 0;
}

.product_lists .product_boxes .box_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_lists .product_boxes .box_title h2 {
    color: var(--color-gray);
}

.product_lists .product_boxes .box_title span {
    color: var(--color-primary);
    cursor: pointer;
}

.product_lists .product_boxes .box_title span:hover {
    text-decoration: underline;
}

.product_lists .product_boxes ul {
    width: 100%;
    /* background: var(--color-white); */
    padding-top: var(--card-padding);
    padding-bottom: var(--card-padding);
    border-radius: var(--card-border-radius);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
}

.product_lists .product_boxes ul .product {
    width: 180px;
    height: 250px;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px var(--color-dark);
    transition: scale .25s ease-in, opacity .25s ease-in, filter .25s ease-in;

}

.product_lists .product_boxes ul li:hover {
    scale: 1.2;
}

.product_lists .product_boxes ul:has(.product:hover) .product:not(:hover) {
    scale: .8;
    opacity: .8;
    filter: blur(4px);
}

.product_lists .product_boxes ul li img {
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    transform: scale(1.2);
    transition: .25s ease-in;
}

.product_lists .product_boxes ul li:hover img {
    transform: scale(1);
}

.product_lists .product_boxes ul li .title {
    width: 100%;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: .25s ease-in;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    background: var(--color-white);
    padding: 5px;
}

.product_lists .product_boxes ul li:hover .title {
    bottom: 0;
}

.product_lists .product_boxes ul li .title .info .name {
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product_lists .product_boxes ul li .title .info .price {
    font-size: 12px;
    text-align: end;
}

.product_lists .product_boxes ul li .title .info .price span {
    color: var(--color-danger);
    font-weight: bold;
}

.product_lists .product_boxes ul li .title .add_btn {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
    background: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.middle .chat_box{
    width: 100%;
    height: auto;
    position: relative;
}
.middle .chat_box ul li{
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}
.middle .chat_box ul li .logo{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}
.middle .chat_box ul li .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle .chat_box ul li .text_box h4{
    width: 100%;
    background: var(--color-white);
    padding: var(--card-padding);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    padding-bottom: 0;
}

.middle .chat_box ul li .text_box .text{
    width: 100%;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 10px;
}

.middle .chat_box ul li .text_box .text:last-child{
    border-bottom-left-radius: 0;
}

.middle .chat_box .text_editor{
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 10px #000;
}

.middle .chat_box .text_editor textarea{
    width: 100%;
    height: 50px;
    background: var(--color-light);
    color: var(--color-dark);
    border-radius: var(--card-border-radius);
    resize: none;
    padding: var(--card-padding);
    padding-top: 10px;
    font-size: 16px;
    transition: .5s;
    z-index: 90;
}
.middle .chat_box .text_editor textarea:focus{
    height: 80px;
}

.middle .chat_box .text_editor .sett{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
    height: 0;
    transition: .5s;
    z-index: 80;
}

.middle .chat_box .text_editor textarea:focus ~ .sett{
    overflow: visible;
    height: 40px;
}

.middle .chat_box .text_editor .sett .icons label{
    font-size: 24px;
    cursor: pointer;
    color: var(--color-primary);
}

/* --------------------------- THEME CUSTOMIZATION --------------------------- */

.customize-theme,
.contact-menu,
.notification-menu,
.product_popup {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: .9rem;
    z-index: 99999999;
    transform: scale(0);
    opacity: 0;
}


.customize-theme.active,
.contact-menu.active,
.notification-menu.active,
.product_popup.active {
    transform: scale(1);
    opacity: 1;
}

.customize-theme .card,
.contact-menu .card,
.notification-menu .card,
.product_popup .card {
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--color-primary);
    padding: var(--card-padding);
}

/* --------------------------- FONT SIZE --------------------------- */

.customize-theme .font-size {
    margin-top: 5rem;
}

.customize-theme .font-size>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
}

.customize-theme .choose-size {
    background: var(--color-secondary);
    height: .3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .choose-size li {
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-size li.active {
    background: var(--color-primary);
}

/* --------------------------- FONT COLOR --------------------------- */

.customize-theme .color {
    margin-top: 2rem;
}

.customize-theme .choose-color {
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .choose-color li {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-color li.active {
    border: 5px solid #fff;
}

.customize-theme .choose-color li:nth-child(1) {
    background: hsl(252, 75%, 60%);
}

.customize-theme .choose-color li:nth-child(2) {
    background: hsl(52, 75%, 60%);
}

.customize-theme .choose-color li:nth-child(3) {
    background: hsl(352, 75%, 60%);
}

.customize-theme .choose-color li:nth-child(4) {
    background: hsl(152, 75%, 60%);
}

.customize-theme .choose-color li:nth-child(5) {
    background: hsl(202, 75%, 60%);
}

/* --------------------------- BACKGROUND --------------------------- */

.customize-theme .background {
    margin-top: 2rem;
    position: relative;
}

.customize-theme .choose-bg {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg li {
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .4rem;
    cursor: pointer;
    border: 2px solid hsl(252, 30%, 17%);
}

.customize-theme .choose-bg li.active {
    border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg li:nth-child(1) {
    background: #fff;
    color: #000;
}

.customize-theme .choose-bg li:nth-child(2) {
    background: hsl(252, 30%, 17%);
    color: #fff;
}

.customize-theme .choose-bg li:nth-child(3) {
    background: hsl(252, 30%, 17%);
    color: #fff;
}

.customize-theme .choose-bg li span {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    margin-right: 1rem;
}

/* ----------------------------- Contact menu ----------------------------- */

.contact-menu .card {
    width: 70%;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;

}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--color-dark);

}

.contact-container .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-container .contact-form {
    text-align: left;

}

.contact-container .contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-dark);

}

.contact-container .form-group {
    margin-bottom: 20px;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-light);
    color: var(--color-dark);
    outline: none;
    resize: none;
}

.contact-container input::placeholder,
.contact-container textarea::placeholder {
    color: var(--color-gray);
}

.contact-container button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-container .contact-info {
    text-align: left;

}

.contact-container .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-dark);
}

.contact-container .contact-info p {
    margin-bottom: 10px;
    color: var(--color-dark);
    font-size: 16px;
}

.contact-container .contact-info i {
    color: var(--color-primary);
    margin-right: 10px;
    font-size: 20px;
}

.contact-container .contact-info a {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.notification-menu .card{
    width: 500px;
    /* min-height: 350px; */
    height: 650px;
    overflow: hidden;
}

.notification-menu .title{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.notification-menu .title h2{
    color: var(--color-gray);
}

.notification-menu .title span{
    color: var(--color-primary);
    cursor: pointer;
}

.notification-menu .title span:hover{
    text-decoration: underline;
}

.notification-menu ul{
    padding: var(--card-padding);
    background: var(--color-light);
    margin-top: 10px;
    border-radius: var(--card-border-radius);
    overflow: auto;
    height: 570px;
}

.notification-menu ul li{
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    background: var(--color-white);
    transition: .5s;
    margin-bottom: 12px;
    cursor: pointer;
    transition: scale .25s ease-in, opacity .25s ease-in, filter .25s ease-in;
}

.notification-menu ul li:hover {
    scale: 1.05;
}

.notification-menu ul:has(li:hover) li:not(:hover) {
    scale: .95;
    opacity: .8;
    filter: blur(4px);
}

.notification-menu ul li img{
    width: 90px;
    height: 90px;
    border-radius: var(--card-border-radius);
    object-fit: cover;
    object-position: top;
}
.notific-info {
    width: 100%;

}
.notification-menu ul li .notific-name {
    font-size: 15px;
    text-align: start;
}
.notification-menu .main-noti {
    display: grid;
    grid-template-columns: 90px calc(100% - 90px);
    /* gap: 60px; */
    column-gap: 10px;
    text-align: end;
}
.notific-price span {
    color: red;
}

.product_popup .card{
    width: 600px;
}
.product_popup .product_box{
    display: flex;
    column-gap: 10px;
}
.product_popup .product_box img{
    width: 170px;
    height: 240px;
    border-radius: var(--card-border-radius);
    object-fit: cover;
}
.product_popup .product_box .title{
    width: 100%;
    height: 240px;
    position: relative;
}
.product_popup .product_box .title .info{
    display: grid;
    grid-template-columns: 80% 20%;
}
.product_popup .product_box .title .name{
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    color: var(--color-dark);
}
.product_popup .product_box .title .price{
    font-weight: bold;
    font-size: 16px;
    color: var(--color-dark);
}
.product_popup .product_box .title .price span{
    color: var(--color-danger);
}
.product_popup .product_box .title .comment{
    text-align: start;
    margin-top: 5px;
}
.product_popup .product_box .title .comment .icon{
    font-size: 24px;
}
.product_popup .product_box .title .comment .icon i{
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
}
.product_popup .product_box .title .comment .icon i.fa-heart.active{
    animation: likeEffect .5s linear 1 forwards;
    color: var(--color-danger);
}
.product_popup .product_box .title .btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}