nav{
    width: 100%;
    background: var(--box-bcg-color);
}

nav .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav .logo a{
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}

nav .nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav .nav .menu li{
    padding: 10px;
    margin: 10 15px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

nav .nav .menu li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    width: 0%;
    height: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: .5s ease-in-out;
}

nav .nav .menu li a{
    color: var(--color);
    font-weight: 500;
    transition: .5s ease-in-out;
}

nav .nav .menu li:hover::before,
nav .nav .menu li.active::before{
    width: 95%;
}

nav .nav .menu li:hover a,
nav .nav .menu li.active a{
    color: var(--primary-color);
}

nav .nav .profile a{
    font-size: 18px;
    cursor: pointer;
    color: var(--color);
    font-weight: 600;
    transition: .5s ease-in-out;
}

nav .nav .profile a:hover{
    color: var(--primary-color);
}

nav .nav .profile .profile-menu{
    display: none;
}